.banner-1{
    height: 515px;
    width: 100%;
    display: flex;
    justify-content: space-around;

}
.ctn{
    height: 481px;
    width: 531px;

}
.banner-1-img{
    height: 531px;
    width: 531px;

}
.banner-1-img img{
    height: 100%;
    width: 100%;
}
.ctn p{
    font-size: 40px;
    font-weight: 500;
}
.para p{
    font-size: 20px;
    font-weight: 400;
}
.ban-1-btn{
    width: 264px;
    height: 68px;
    padding: 20px 35px 20px 35px;
    gap: 10px;
    border-radius: 14px 0px 0px 0px;
    opacity: 0px;
    background-color: #191A23;
    color: white;
    
}
.ads{
    height: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.ads img{
    margin: 0px auto;
}
.services{
    height: 300px;
    width: 100%;
    display: flex;
    gap: 30px;

}
.services span{
    background-color: #B9FF66;
    font-weight: 400;
    font-size: 30px;
    height: 60px;
    margin-top: 80px;
    margin-left: 60px;
}
.services p{
font-size: 19px;
height: 46px ;
width: 580px;
margin-top: 80px;
}
.banner-2{
    height: 400px;
    width: 100%;
    display: flex;
}
.card-1{
    height: 100%;
    width: 50%;
}
.card-1 img{
    margin-left: 100px;
    margin-top: 40px;
}

.card-2{
    height: 100%;
    width: 50%;
}
.card-2 img{
    margin-top: 40px;
    margin-left: 60px;
}
.our-workig-experience{
    height: 300px;
    width: 100%;
    display: flex;
    gap: 30px;

}
.our-workig-experience span{
    background-color: #B9FF66;
    font-weight: 400;
    font-size: 23px;
    height: 60px;
    margin-top: 80px;
    margin-left: 60px;
}
.our-workig-experience p{
    font-size: 19px;
    height: 46px ;
    width: 580px;
    margin-top: 80px;
}
@media only screen and (max-width: 1310px){
    .banner-2{
        height: 300px;
        width: 100%;
        display: block;
    }
    .options{
        padding-left: 20%;
        padding-top: 5%;
    }
}
@media only screen and (max-width: 772px){
    .banner-1{
        height: 515px;
        width: 100%;
        display: block;
        justify-content: space-around;
    
    }
    .services{
        height: 300px;
        width: 100%;
        display: flex;
        gap: 30px;
        margin-top: 50%;
    }
    .card-2{
        height: 100%;
        width: 50%;
        margin-top: 30px;
        margin-left: 40px;
    }
    .our-workig-experience{
        height: 300px;
        width: 100%;
        display: flex;
        gap: 30px;
        margin-top: 45%;
    
    }
    .ads{
        height: 40px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 80%;
    }
    .options{
        padding-left: 20%;
    }
    .options img{
        width:600px;
        padding: 0px;
    }
  
}
.options{
    padding-left: 20%;
}
.Contact{
    height: 300px;
    width: 100%;
    display: flex;
    gap: 30px;

}
.Contact span{
    background-color: #B9FF66;
    font-weight: 400;
    font-size: 30px;
    height: 60px;
    margin-top: 80px;
    margin-left: 60px;
}
.Contact p{
font-size: 19px;
height: 46px ;
width: 580px;
margin-top: 80px;
}